html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
}

html, body, pre, code, kbd, samp {
  font-family: "Lucida Console", "Courier New", monospace;
}

#content {
  height: 100%;
  width: 100%;
}

#nav-container {
  padding: 10px 20px;
  background-color: #1A2C42;
}

#nav-title {
  margin: 0;
  color: #B3B3B3;
}

#grid-container {
  display: flex;
  height: calc(100vh - 48.8px);
}

#empty-container {
  flex: 0 0 20%;
}

#qrcode-container {
  flex: 0 0 35%;
}

#form-container {
  flex: 1;
}

#form-container {
  background-color: #191919;
}

#qrcode-form > fieldset {
  margin: 0;
  border: 1px solid transparent;
  padding: 14px;
}

.nes-field {
  color: #999999;
  margin-bottom: 6px;
}

.nes-field > label {
  font-size: 14px;
}

.nes-field > textarea {
  background-color: #272727;
  color: #999;
  border: 1px solid transparent;
  border-radius: 2px;
  width: calc(100% - 12px);
  margin: 0;
  padding: 6px;
}

.nes-field > hr {
  color: #272727;
  margin-top: 0px;
  margin-bottom: 6px;
}

#qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  margin: 10px;
  height: calc(60% - 20px);
}

#color {
  background-color: #232323;
  margin: 10px;
  height: calc(40% - 20px);
}