html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
}

html, body, pre, code, kbd, samp {
  font-family: "Lucida Console", "Courier New", monospace;
}

#content {
  height: 100%;
  width: 100%;
}

#nav-container {
  padding: 10px 20px;
  background-color: #1A2C42;
}

#nav-title {
  margin: 0;
  color: #B3B3B3;
}

#grid-container {
  display: flex;
  min-height: calc(100vh - 48.8px);
  min-height: -moz-calc(100vh - 48.8px);
	min-height: -webkit-calc(100vh - 48.8px);
}

#empty-container {
  flex: 0 0 20%;
}

#qrcode-container {
  flex: 0 0 35%;
}

#form-container {
  flex: 1;
}

#form-container {
  background-color: #191919;
}

#qrcode-form > fieldset {
  margin: 0;
  border: 1px solid transparent;
  padding: 14px;
}

.fields {
  color: #999999;
  margin-bottom: 6px;
}

.fields > label {
  font-size: 14px;
}

.fields > textarea {
  background-color: #272727;
  color: #999;
  border: 1px solid #464646;
  border-radius: 4px;
  width: calc(100% - 12px);
  margin: 0;
  padding: 6px;
  resize: vertical;
}

.fields > hr {
  color: #272727;
  margin-top: 0px;
  margin-bottom: 6px;
}

.fields > input[type="number"] {
  background-color: #272727;
  color: #999;
  border: 1px solid #464646;
  border-radius: 4px;
  padding: 6px;
}

#qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  margin: 10px;
  height: calc(60% - 20px);
}

#qrcode > img {
  max-height: 100%;
  max-width: 100%;
}

#color {
  background-color: #232323;
  margin: 10px;
  height: calc(40% - 10px);
}

#qrcode {
  position: relative;
}
.spinner {
  position: absolute;
  width: 100%;
  display: none;
  background-color: #B3B3B3;
  width: 100%;
  height: 2px;
}
.spinner.top {
  top: 0;
  left: 0;
}
.spinner.bottom {
  bottom: 2px;
  left: 0;
}
