<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>QR Codes</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  </head>
  <body class="terminal">
    <div id="content">
      <section id="nav-container">
        <div id="title-container">
          <h1 id="nav-title">QR Code Generator</h1>
        </div>
      </section>
      <div id="grid-container">
        <section id="empty-container" class="column">
        </section>
        <section id="form-container" class="column">
          <form id="qrcode-form" method="POST" action="/">
            <fieldset>
              {{ form.csrf_token }}

              <div class="data-fields">
                <div class="fields">
                  {{ form.qrcode_data.label }} <br>
                  <hr>
                  {{ form.qrcode_data(class="inputs", autocomplete="off") }}
                </div>

                <div class="fields">
                  {{ form.qrcode_gif_url.label }} <br>
                  <hr>
                  {{ form.qrcode_gif_url(class="inputs", autocomplete="off") }}
                </div>
              </div>

              <div class="style-fields">
                <div class="color-fields">
                  <div class="fields">
                    {{ form.qrcode_color.label }} <br>
                    <hr>
                    <div class="cp-container">
                      <div class="color-picker-wrap">
                        {{ form.qrcode_color(class="inputs color-picker", autocomplete="off") }}
                      </div>
                      {{ form.qrcode_color_hex(class="inputs hex-field", autocomplete="off") }}
                      <div id="color-val" class="hex-label">{{ qrcode_info.color }}</div>
                    </div>
                  </div>

                  <div class="fields">
                    {{ form.qrcode_color_acc.label }} <br>
                    <hr>
                    <div class="cp-container">
                      <div class="color-picker-wrap">
                        {{ form.qrcode_color_acc(class="inputs color-picker", autocomplete="off") }}
                      </div>
                      {{ form.qrcode_color_acc_hex(class="inputs hex-field", autocomplete="off") }}
                      <div id="color-acc-val" class="hex-label">{{ qrcode_info.color_acc }}</div>
                    </div>
                  </div>
                </div>

                <div class="background-fields">
                  <div class="fields">
                    {{ form.qrcode_bg_color.label }} <br>
                    <hr>
                    <div class="cp-container">
                      <div class="color-picker-wrap">
                        {{ form.qrcode_bg_color(class="inputs color-picker", autocomplete="off") }}
                      </div>
                      {{ form.qrcode_bg_color_hex(class="inputs hex-field", autocomplete="off") }}
                      <div id="bg-color-val" class="hex-label">{{ qrcode_info.bg_color }}</div>
                    </div>
                  </div>

                  <div class="fields">
                    {{ form.qrcode_bg_color_acc.label }} <br>
                    <hr>
                    <div class="cp-container">
                      <div class="color-picker-wrap">
                        {{ form.qrcode_bg_color_acc(class="inputs color-picker", autocomplete="off") }}
                      </div>
                      {{ form.qrcode_bg_color_acc_hex(class="inputs hex-field", autocomplete="off") }}
                      <div id="bg-color-acc-val" class="hex-label">{{ qrcode_info.bg_color_acc }}</div>
                    </div>
                  </div>
                </div>

                <div class="size-fields">
                  <div class="fields">
                    {{ form.qrcode_border_size.label }} <br>
                    <hr>
                    {{ form.qrcode_border_size(class="inputs", autocomplete="off") }}
                  </div>

                  <div class="fields">
                    {{ form.qrcode_scale.label }} <br>
                    <hr>
                    {{ form.qrcode_scale(class="inputs", autocomplete="off") }}
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </section>
        <section id="qrcode-container" class="column">
          <div id="qrcode">
            <img id="picture" src="data:image/png;base64,{{ qrcode_img_data }}">
          </div>
          <div id="color">

          </div>
        </section>
      </div>
      <!-- <section id="footer-container">
        <div id="footer">
          <div id="github">
            <a href="https://github.com/" target="_blank" rel="noopener noreferrer"><img src="static/GitHub_Logo_White.png" alt="Girl in a jacket"></a>
          </div>
        </div>
      </section> -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <script>
      $(document).ready(function() {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": "{{ csrf_token() }}"
            }
        });
      });
    </script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
  </body>
</html>